.top {
background: black;
padding: 55px;
color: white;
}
.bottom{
background: yellow;
padding: 55px;
color: white;
}
.col-right{
    padding: 0%;
    margin: 0;
}
.col-left {
    padding: 0;
    margin: 0;
}
nav {
    background: navy !important;
}
.logo {
    margin: 0;
    padding: 0;
    float: left;
}

